body{
    border: 1px solid white;
    max-width: 1140px;
    margin: 0 auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    
    margin-bottom: 120px;
    width: 1140px;
    height: 71px;
    align-items: center;
    text-align: center;
}

li a{
    text-decoration: none;
}
nav ul li{
    list-style: none;
    padding-right: 20px;
}
.nav-list ul {
    display: flex;
    
}
.dark{
    color: #252432;
    font-weight: bold;
}
.dark-1{
    color: #8987A1;
    font-weight: bold;
}
.dark-2{
    color: #000000;
}
/*banner section*/
.banner{
    height: 461px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0;
}
.banner-text{
    width: 570px;
    height: auto;
    padding-bottom: 0;
}
.banner-title{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.orange-c{
    color: #E95A08;
}
.banner-description{
    font-size: 1.4rem;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.5);
}
.banner-image{
    width: 570px;
    height: 355px;
}
.banner-image img{
    width: 100%;
}

/*plants section*/
.plants-text{
    width: 100%;
    height: 138px;
    text-align: center;
}
.plants-title{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0;
}
.plants-description{
    width: 888px;
    height: 54px;
    margin-right: 126px;
    margin-left: 126px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.3rem;
}
.container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.flower{
    width: 270px;
    height: 485px;
    text-align: center;
    margin-bottom: 30px;
}
.flower img{
    width: 100%;
}
.plants-image{
    width: 270px;
    height: 322.94px;
    padding-bottom: 15px;
}
.flower-title{
    color: #111111;
    font-size: 1.4rem;
    margin: 0;
    font-weight: bold;
}
.flower-price{
    color: #111111;
    font-size: 1.4rem;
    margin: 0;
    font-weight: bold;
    padding-bottom: 20px;
}
.btn-primary{
    width: 270px;
    height: 50px;
    background-color: #E95A08;
    color: white;
    border: none;
    font-size: 1rem;
    font-weight: 500;
}
.flower-lover{
    margin-top: 140px;
    display: flex;
    justify-content: space-between;
    gap: auto;
}
.plants-lover-image{
    width: 540px;
    height: 597px;
    position: relative;
}
.badge{
     position: absolute;
     width: 286px;
     height: 350px;
     margin-left: -300px;
     margin-top: -200px;
}
.plants-lover-image img{
    width: 100%;
}

.lover-description{
    width: 540px;
    height: 521px;
    margin-top: 38px;
    margin-bottom: 38px;
}
.lover-title{
    font-size: 4rem;
}
.lover-details{
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.5);
}
.latest-deals{
    margin-top: 100px;
}




@media screen and (max-width: 576px) {
    body{
        border: 1px solid white;
        max-width: 576px;
        margin: 0 auto;
    }
    .navbar{
        width: 361px;
        height: 38px;
        margin-top: 67px;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 28px;
    }
    .dark, .dark-1{
        visibility: hidden;
    }
    .nav-list ul li a {
        font-size: 12px;
        white-space: nowrap;
        align-items: center;
    }
    .banner{
        flex-direction: column-reverse;
        margin-top: 28px;
        align-items: center;
        padding: 0;
    }
    .banner-title{
        font-size: 2rem;
        line-height: 1.2;
    }
    .banner-text{
        width: 361px;
        height: 200px;
        padding: 2px;
    }
    .banner-description{
        font-size: 0.8rem;
        line-height: 1.2;
    }
    .banner-image{
        width: 450px;
        height: 245px;
    }
    .banner-image img{
        width: 100%;
    }
    .plants-title{
        font-size: 1.5rem;
    }
    .plants-description{
        font-size: 0.8rem;
        margin-right: 28.5px;
        margin-left: 28.5px;
        width: 336px;
        height: 68px;
    }
    .container{
        margin-top: 0;
        grid-template-columns: repeat(2, 1fr);
    }
    .flower{
        margin-left: 17px;
        margin-right: 17px;
        width: 171px;
        height: 340.5px;
    }
    .plants-image{
        width: 171px;
        height: 195px;
    }
    .flower-title{
        font-size: 1rem;
        margin: 0;

    }
    .flower-price{
        font-size: 1rem;
        margin: 0;
    }
    .btn-primary{
        width: 171px;
        height: 50px;
    }
    .flower-lover{
        margin-top: 20px;
        flex-direction: column;
    }
    
    .plants-lover-image{
        width: 368px;
        height: 396px;
        margin-left: 17px;
    }
    .badge{
        visibility: hidden;
    }
    .lover-title{
        font-size: 1.5rem;
    }
    .lover-description{
        width: 361px;
        height: 234px;
        margin-top: 5px;
        margin-left: 17px;
    }
}