body{
    border: 1px solid white;
    max-width: 1140px;
    margin: 0 auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    
    margin-bottom: 120px;
    width: 1140px;
    height: 71px;
    align-items: center;
    text-align: center;
}

li a{
    text-decoration: none;
}
nav ul li{
    list-style: none;
    padding-right: 20px;
}
.nav-list ul {
    display: flex;
    
}
.dark{
    color: #252432;
    font-weight: bold;
}
.dark-1{
    color: #8987A1;
    font-weight: bold;
}
.dark-2{
    color: #000000;
}
/*banner section*/
.banner{
    height: 461px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0;
}
.banner-text{
    width: 570px;
    height: auto;
    padding-bottom: 0;
}
.banner-title{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.orange-c{
    color: #E95A08;
}
.banner-description{
    font-size: 1.4rem;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.5);
}
.banner-image{
    width: 570px;
    height: 355px;
}
.banner-image img{
    width: 100%;
}



@media screen and (max-width: 576px) {
    .navbar{
        width: 361px;
        height: 38px;
        margin-top: 67px;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 28px;
    }
    .dark, .dark-1{
        visibility: hidden;
    }
    .nav-list ul li a {
        font-size: 12px;
        white-space: nowrap;
        align-items: center;
    }
    .banner{
        flex-direction: column-reverse;
        margin-top: 28px;
        align-items: center;
        padding: 0;
    }
    .banner-title{
        font-size: 2rem;
        line-height: 1.2;
    }
    .banner-text{
        width: 361px;
        height: 200px;
        padding: 2px;
    }
    .banner-description{
        font-size: 0.8rem;
        line-height: 1.2;
    }
    .banner-image{
        width: 450px;
        height: 245px;
    }
    .banner-image img{
        width: 100%;
    }

}